@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

